@model MyCollection.Web.Data.Entities.PropertySeller
@{
    ViewData["Title"] = "Details";
}

<h2>Property</h2>
<div class="row">
    <div class="col-md-4">
        <div>
            <h4>Seller</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Seller.User.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Seller.User.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Seller.User.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Seller.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Seller.User.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Seller.User.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Seller.User.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Seller.User.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Seller.User.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Seller.User.PhoneNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4>Property Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Serie)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Serie)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Colour)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Colour)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsAvailable)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4>Images</h4>
            <hr />
            @if (Model.PropertySellerImages.Count == 0)
            {
                <h5>Not images added yet.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PropertySellerImages)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <button data-id="@item.Id" class="btn btn-outline-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-outline-success">Add Image</a>
    <a asp-action="Details" asp-route-id="@Model.Seller.Id" class="btn btn-outline-dark">Back to Seller</a>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;
        	var action_to_delete;

        	$('.deleteImage').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
            	action_to_delete = 1;
        	});

        	$("#btnYesDelete").click(function () {
            	if (action_to_delete == 1) {
                	window.location.href = '/Sellers/DeleteImage/' + item_to_delete;
            	}
        	});
    	});
    </script>
}
