@model MyCollection.Web.Data.Entities.Product

@{
    ViewData["Title"] = "Detalles";
}

<h2>Producto</h2>
<div class="row">
    <div class="col-md-4">
        <div>
            <h4>Datos</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Line)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Line.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Subline)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Subline.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Provider)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Provider.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Barcode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Barcode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PurchaseUnit)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PurchaseUnit)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sale)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sale)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Factor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Factor)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IVA)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IVA)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4>Detalles Producto</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price3)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price3)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price4)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price4)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price5)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price5)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ReorderPoint)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReorderPoint)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastCost)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastCost)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsAvailable)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4>Imagenes</h4>
            <hr />
            @if (Model.ProductImages.Count == 0)
            {
                <h5>No hay imagenes agregadas.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductImages)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <button data-id="@item.Id" class="btn btn-outline-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Editar</a>
        <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-outline-success">Agregar Imagenes</a>
        <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
    </div>
</div>

<h4>Inventario</h4>
<hr />
@if (Model.Inventories.Count == 0)
{
    <h5>No hay productos agregados.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Inventories.FirstOrDefault().Warehouse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventories.FirstOrDefault().Stock)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Inventories)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;

            $('.deleteImage').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });

            $("#btnYesDelete").click(function () {
                if (action_to_delete == 1) {
                    window.location.href = '/Product/DeleteImage/' + item_to_delete;
                }
            });
        });
    </script>
}