@model MyCollection.Web.Data.Entities.Order
@{
    ViewData["Title"] = "Detalles";
}

<h2>Ordenes</h2>
<div class="row">
    <div class="col-md-3">
        <div>
            <h4>Datos</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.House)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.House.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Warehouse)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Warehouse.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Collector)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Collector.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TypePayment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TypePayment.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DayPayment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DayPayment.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Seller)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Seller.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Customer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pending)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pending)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <h4>Referencias</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Orden Id
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Payment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Payment)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Deposit)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Deposit)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Detalles de Productos</h4>
            <hr />
            @if (Model.OrderDetails.Count == 0)
            {
                <h5>No hay productos agregados.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Producto Id
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Quantity)
                            </th>
                            <th>
                                Imagenes
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.ProductImages.Count)
                            </td>
                            <td>
                                <a asp-action="DetailsProduct" asp-route-id="@Model.Id" class="btn btn-outline-warning">Detalles</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
    </div>
</div>