@model MyCollection.Web.Data.Entities.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefPhone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefPhone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
