@model MyCollection.Web.Data.Entities.Customer
@{
    ViewData["Title"] = "Detalles";
}

<h2>Cliente</h2>
<div class="row">
    <div class="col-md-4">
        <div>
            <h4>Datos</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Neighborhood)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Neighborhood)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
                <dt>
                    Casa Comercial
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.House.Name)
                </dd>
                <dt>
                    Cobrador
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Collector.User.FullName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4>Referencias</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RefName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RefName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RefAddress)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RefAddress)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RefPhone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RefPhone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RefName2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RefName2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RefAddress2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RefAddress2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RefPhone2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RefPhone2)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4>Imagenes</h4>
            <hr />
            @if (Model.CustomerImages.Count == 0)
            {
                <h5>No hay imagenes agregadas.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CustomerImages)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <button data-id="@item.Id" class="btn btn-outline-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Editar</a>
        <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-outline-success">Agregar Imagenes</a>
        <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;
        	var action_to_delete;

        	$('.deleteImage').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
            	action_to_delete = 1;
        	});

        	$("#btnYesDelete").click(function () {
            	if (action_to_delete == 1) {
                	window.location.href = '/Customers/DeleteImage/' + item_to_delete;
            	}
        	});
    	});
    </script>
}