@model MyCollection.Web.Data.Entities.Customer
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt>
            House
        </dt>
        <dd>
            @Html.DisplayFor(model => model.House.Name)
        </dd>
        <dt>
            Collector
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collector.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit</a>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-outline-success">Add Images</a>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
<h4>Images</h4>
@if (Model.CustomerImages.Count == 0)
{
    <h5>Not images added yet.</h5>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerImages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    <a asp-action="EditProperty" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a>
                    <a asp-action="DetailsProperty" asp-route-id="@item.Id" class="btn btn-outline-warning">Details</a>
                    <a asp-action="DeleteProperty" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}